
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange-clair : #ff9f40;
    --orange-normal : #ff7f00;
    --orange-foncé : #cc6600;

    --couleur-li-header : #8c8b8b;
    --couleur-bg-footer : #24262b;

    --epaisseur-inscription-texte-titre : 500;
    --epaisseur-inscription-texte-contenu : 400;

    --taille-inscription-texte-titre : 22px;
    --taille-inscription-texte-sous-titre : 22px;
}

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.contenu{
    display:flex;
    justify-content: center;
    margin-top: 150px;
}
.titrePage{
    text-align: center;
    margin-top: 200px;
    font-size: 48px;
    color: orange;
    font-weight: 800;
    margin-bottom: 50px;

}


.journal{
    
    width: 70%;
    background-color: white;
    
}

.explication{
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    width: 76%;
    font-size: 20px;
    line-height: 200%;
}

.entree_repas{
    margin-bottom: 150px;
}

.libelle{
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    
}
form{
    padding-left: 100px;
    padding-right: 100px;
}
 form .repas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    
 }

 form .repas .champ{
    margin-bottom: 25px;
    width: calc(100% / 2 - 20px);
    font-size: 18px;
}

.repas .champ .aliment{
    display: block;
    font-weight: var(--epaisseur-inscription-texte-contenu);
    margin-bottom: 20px;
}

.repas .champ input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.repas .champ input:focus,
.repas .champ input:valid{
    border-color: #df9a38;
}

form .button{
    height: 45px;
    margin: 30px 0;
    display: flex;
    margin-left: 20px;
    margin-bottom: 75px;
    margin-top: 75px;
    
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    font-weight: var(--epaisseur-inscription-texte-titre);
    letter-spacing: 1px;
    color: rgb(69, 69, 69);
    background: linear-gradient(135deg, #ffff5f, #df9a38);
    border-radius: 5px;
    border: none;
    transition: all 0.8s;
    cursor: pointer;
}

form .button input:hover{
    
    background: linear-gradient(-135deg, #ffff5f, #df9a38);
}











.titre{
    font-size: 24px;
    color: black;
    font-weight: 500;
    padding-top: 18px;
    

}
.image{
    display: flex;
    justify-content:left;
}
.image img{
    height: 60px;
}

.container{
  
    width: 25%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.calendar{
    width: 300px;
    height: 370px;
    background-color: white;
    box-shadow: 0 1px 20px orange;
}

.month{
    width: 100%;
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.month i{
    font-size: 20px;
    cursor: pointer;
}

.month h1{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month p{
    font-size: 16px;
}

.date{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.weekdays{
    width: 100%;
    height: calc(297px/7);
    padding: 0 3px;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    width:calc(297px/7);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.days div{
    font-size: 20px;
    width:calc(297px/7); /*taille calendrier - marge / 7*/
    height: calc(297px/7);
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition:background-color 0.2s;
}



.days div:hover:not(.today){
    background-color: rgb(54, 239, 54);
    cursor:pointer;
}

.prev-date,
.next-date{
    opacity: 0.3;
}

.today{
    background-color: orange;
}
